@if $mq-all{
.u-c
{
	&-bk{
		color: $c0!important;
	}
	&-gy{
		color: #616161!important;
	}
	&-c1{
		color: $c1!important;
	}
	&-c1l{
		color: $c1l!important;
	}
	&-c2{
		color: $c2!important;
	}
	&-c3{
		color: $c3!important;
	}
	&-c9{
		color: $c9!important;
	}
	&-wh{
		color: #fff!important;
	}
	&-pk{
		color: #EEA295!important;
	}
}
.u-bg
{
	&-bk{
		background: $c0!important;
	}
	&-gy{
		background: #616161!important;
	}
	&-c0{
		background: $c0!important;
	}
	&-c1{
		background: $c1!important;
	}
	&-c1l{
		background: $c1l!important;
	}
	&-c2{
		background: $c2!important;
	}
	&-c3{
		background: $c3!important;
	}
	&-c9{
		background: $c9!important;
	}
	&-c9d{
		background: $c9d!important;
	}
	&-c4{
		background: $c4!important;
	}
	&-wh{
		background: #fff!important;
	}
	&-pk{
		background: #EEA295!important;
	}
}
.u-bd
{
	&-bk{
		border-color: $c0!important;
	}
	&-gy{
		border-color: #616161!important;
	}
	&-c0{
		border-color: $c0!important;
	}
	&-c1{
		border-color: $c1!important;
	}
	&-c1l{
		border-color: $c1l!important;
	}
	&-c2{
		border-color: $c2!important;
	}
	&-c3{
		border-color: $c3!important;
	}
	&-c4{
		border-color: $c4!important;
	}
	&-wh{
		border-color: #fff!important;
	}
	&-pk{
		border-color: #EEA295!important;
	}
}
}